* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_540 {
  width: 100%;
  height: 5360px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_541 {
  width: 100%;
  height: 524px;
  background: url("../images/v1_541.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2428px;
  left: 244px;
  overflow: hidden;
}
.v1_542 {
  width: 100%;
  height: 524px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_543 {
  width: 100%;
  height: 682px;
  background: url("../images/v1_543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 0px;
  overflow: hidden;
}
.v1_544 {
  width: 883px;
  height: 467px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2124px;
  left: 120px;
  overflow: hidden;
}
.v1_545 {
  width: 883px;
  height: 525px;
  background: url("../images/v1_545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1439px;
  left: 120px;
  overflow: hidden;
}
.v1_546 {
  width: 681px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 191px;
  left: 120px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v1_547 {
  width: 178px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 482px;
  left: 1266px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.name {
  color: #fff;
}
.v1_549 {
  width: 100%;
  height: 513px;
  background: url("../images/v1_549.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 540px;
  left: 120px;
  overflow: hidden;
}
.v1_550 {
  width: 100%;
  height: 513px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_551 {
  width: 100%;
  height: 513px;
  background: url("../images/v1_551.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_552 {
  width: 252px;
  height: 525px;
  background: rgba(44,56,120,1);
  opacity: 1;
  position: absolute;
  top: 331px;
  left: 926px;
  overflow: hidden;
}
.v1_553 {
  width: 156px;
  height: 441px;
  background: url("../images/v1_553.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 974px;
  overflow: hidden;
}
.v1_554 {
  width: 150px;
  height: 109px;
  background: url("../images/v1_554.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v1_555 {
  width: 132px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}
.v1_556 {
  width: 150px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 83px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_557 {
  width: 156px;
  height: 109px;
  background: url("../images/v1_557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 0px;
  overflow: hidden;
}
.v1_558 {
  width: 97px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 29px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}
.v1_559 {
  width: 156px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 83px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_560 {
  width: 135px;
  height: 109px;
  background: url("../images/v1_560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 332px;
  left: 11px;
  overflow: hidden;
}
.v1_561 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}
.v1_562 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 83px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_563 {
  width: 100%;
  height: 166px;
  background: url("../images/v1_563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1213px;
  left: 120px;
  overflow: hidden;
}
.v1_564 {
  width: 100%;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_565 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_567 {
  width: 498px;
  height: 26px;
  background: url("../images/v1_567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 606px;
  overflow: hidden;
}
.v1_568 {
  width: 49px;
  color: rgba(51,51,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_569 {
  width: 72px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 123px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_570 {
  width: 88px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 410px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_571 {
  width: 67px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 269px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_572 {
  width: 142px;
  height: 49px;
  background: rgba(44,56,120,1);
  padding: 14px 32px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 1178px;
  overflow: hidden;
}
.v1_573 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 32px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_574 {
  width: 126px;
  height: 54px;
  background: url("../images/v1_574.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 120px;
  overflow: hidden;
}
.v1_575 {
  width: 126px;
  height: 54px;
  background: url("../images/v1_575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_576 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 31px;
  opacity: 1;
  text-align: left;
}
.v1_577 {
  width: 43px;
  height: 12px;
  background: url("../images/v1_577.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 55px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_578 {
  width: 3px;
  height: 4px;
  background: url("../images/v1_578.png");
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 179px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_579 {
  width: 3px;
  height: 4px;
  background: url("../images/v1_579.png");
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 215px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_580 {
  width: 276px;
  height: 90px;
  background: url("../images/v1_580.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1466px;
  left: 928px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_581 {
  width: 276px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_582 {
  width: 51px;
  height: 56px;
  background: url("../images/v1_582.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 20px;
  border-radius: 50%;
}
.v1_583 {
  width: 133px;
  height: 52px;
  background: url("../images/v1_583.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 91px;
  overflow: hidden;
}
.v1_584 {
  width: 133px;
  color: rgba(156,156,156,1);
  position: absolute;
  top: 23px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_585 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_586 {
  width: 142px;
  height: 49px;
  background: rgba(44,56,120,1);
  padding: 14px 32px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1821px;
  left: 1097px;
  overflow: hidden;
}
.v1_587 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 32px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_588 {
  width: 223px;
  color: rgba(156,156,156,1);
  position: absolute;
  top: 1636px;
  left: 1097px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_589 {
  width: 780px;
  height: 216px;
  background: url("../images/v1_589.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2124px;
  left: 120px;
  overflow: hidden;
}
.v1_590 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_591 {
  width: 780px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_592 {
  width: 471px;
  color: rgba(156,156,156,1);
  position: absolute;
  top: 129px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_594 {
  width: 178px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 2380px;
  left: 185px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_595 {
  width: 25px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 2380px;
  left: 120px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_596 {
  width: 249px;
  height: 45px;
  background: url("../images/v1_596.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3352px;
  left: 120px;
  overflow: hidden;
}
.v1_597 {
  width: 129px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 120px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_598 {
  width: 33px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_599 {
  width: 30px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 2449px;
  left: 120px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_600 {
  width: 30px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 2516px;
  left: 120px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_601 {
  width: 136px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 2449px;
  left: 185px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_602 {
  width: 291px;
  height: 45px;
  background: url("../images/v1_602.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3522px;
  left: 120px;
  overflow: hidden;
}
.v1_603 {
  width: 40px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_604 {
  width: 171px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 120px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_605 {
  width: 301px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 2516px;
  left: 185px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_606 {
  width: 245px;
  height: 45px;
  background: url("../images/v1_606.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3692px;
  left: 120px;
  overflow: hidden;
}
.v1_607 {
  width: 40px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_608 {
  width: 125px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 120px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_609 {
  width: 308px;
  height: 45px;
  background: url("../images/v1_609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3862px;
  left: 120px;
  overflow: hidden;
}
.v1_610 {
  width: 40px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_611 {
  width: 188px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 120px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_612 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2381px;
  left: 931px;
  overflow: hidden;
}
.v1_613 {
  width: 18px;
  background: url("../images/v1_613.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_614 {
  width: 9px;
  height: 18px;
  background: url("../images/v1_614.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 16px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_615 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3360px;
  left: 1288px;
  overflow: hidden;
}
.v1_616 {
  width: 18px;
  background: url("../images/v1_616.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_617 {
  width: 9px;
  height: 18px;
  background: url("../images/v1_617.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 16px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_618 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3530px;
  left: 1288px;
  overflow: hidden;
}
.v1_619 {
  width: 18px;
  background: url("../images/v1_619.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_620 {
  width: 9px;
  height: 18px;
  background: url("../images/v1_620.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 16px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_621 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3700px;
  left: 1288px;
  overflow: hidden;
}
.v1_622 {
  width: 18px;
  background: url("../images/v1_622.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_623 {
  width: 9px;
  height: 18px;
  background: url("../images/v1_623.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 16px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_624 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3870px;
  left: 1288px;
  overflow: hidden;
}
.v1_625 {
  width: 18px;
  background: url("../images/v1_625.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_626 {
  width: 9px;
  height: 18px;
  background: url("../images/v1_626.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 16px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_627 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2449px;
  left: 931px;
  overflow: hidden;
}
.v1_628 {
  width: 18px;
  background: url("../images/v1_628.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_629 {
  width: 9px;
  height: 18px;
  background: url("../images/v1_629.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 16px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_630 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2517px;
  left: 931px;
  overflow: hidden;
}
.v1_631 {
  width: 18px;
  background: url("../images/v1_631.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_632 {
  width: 9px;
  height: 18px;
  background: url("../images/v1_632.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 16px;
  border: 2px solid rgba(0,0,0,1);
}
.v1_633 {
  width: 100%;
  height: 166px;
  background: url("../images/v1_633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3113px;
  left: 120px;
  overflow: hidden;
}
.v1_634 {
  width: 76px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_635 {
  width: 337px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_636 {
  width: 473px;
  color: rgba(156,156,156,1);
  position: absolute;
  top: 58px;
  left: 727px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_638 {
  width: 469px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3421px;
  left: 240px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_639 {
  width: 469px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3591px;
  left: 240px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_640 {
  width: 469px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3761px;
  left: 240px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_641 {
  width: 469px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3931px;
  left: 240px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_642 {
  width: 100%;
  height: 490px;
  background: url("../images/v1_642.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4152px;
  left: 120px;
  overflow: hidden;
}
.v1_643 {
  width: 600px;
  height: 396px;
  background: url("../images/v1_643.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  overflow: hidden;
}
.v1_644 {
  width: 76px;
  color: rgba(20,20,20,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_646 {
  width: 348px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_647 {
  width: 497px;
  color: rgba(156,156,156,1);
  position: absolute;
  top: 237px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_648 {
  width: 159px;
  height: 49px;
  background: rgba(255,255,255,1);
  padding: 14px 32px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 0px;
  overflow: hidden;
}
.v1_649 {
  width: 95px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 14px;
  left: 32px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_650 {
  width: 622px;
  height: 490px;
  background: url("../images/v1_650.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 577px;
  overflow: hidden;
}
.v1_651 {
  width: 341px;
  height: 392px;
  background: url("../images/v1_651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 0px;
  overflow: hidden;
}
.v1_652 {
  width: 341px;
  height: 392px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_653 {
  width: 341px;
  height: 392px;
  background: url("../images/v1_653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_654 {
  width: 241px;
  height: 225px;
  background: url("../images/v1_654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 382px;
  overflow: hidden;
}
.v1_655 {
  width: 241px;
  height: 225px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_656 {
  width: 241px;
  height: 225px;
  background: url("../images/v1_656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_657 {
  width: 194px;
  height: 178px;
  background: url("../images/v1_657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 382px;
  overflow: hidden;
}
.v1_658 {
  width: 194px;
  height: 178px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_659 {
  width: 194px;
  height: 178px;
  background: url("../images/v1_659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_660 {
  width: 100%;
  height: 203px;
  background: url("../images/v1_660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4762px;
  left: 0px;
  overflow: hidden;
}
.v1_661 {
  width: 100%;
  height: 203px;
  background: rgba(44,56,120,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_663 {
  width: 100%;
  height: 127px;
  background: url("../images/v1_663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 120px;
  overflow: hidden;
}
.v3_1860 {
  width: 100%;
  height: 127px;
  background: url("../images/v3_1860.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_662 {
  width: 613px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v3_1859 {
  width: 432px;
  height: 127px;
  background: url("../images/v3_1859.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 768px;
  overflow: hidden;
}
.v1_664 {
  width: 432px;
  color: rgba(217,217,217,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_665 {
  width: 142px;
  height: 49px;
  background: rgba(255,255,255,1);
  padding: 14px 32px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 0px;
  overflow: hidden;
}
.v1_666 {
  width: 78px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 14px;
  left: 32px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_667 {
  width: 23px;
  height: 9px;
  background: url("../images/v1_667.png");
  opacity: 1;
  position: absolute;
  top: 5122px;
  left: 1288px;
  border: 2px solid rgba(20,20,20,1);
}
.v1_668 {
  width: 380px;
  height: 79px;
  background: url("../images/v1_668.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5077px;
  left: 880px;
  overflow: hidden;
}
.v1_669 {
  width: 356px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_670 {
  width: 113px;
  color: rgba(217,217,217,1);
  position: absolute;
  top: 52px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_671 {
  width: 14px;
  height: 14px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-radius: 50%;
}
.v1_672 {
  width: 481px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 5109px;
  left: 120px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_673 {
  width: 203px;
  height: 69px;
  background: url("../images/v1_673.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5211px;
  left: 1117px;
  overflow: hidden;
}
.v1_674 {
  width: 32px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  border-radius: 50%;
}
.v1_675 {
  width: 32px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 57px;
  border-radius: 50%;
}
.v1_676 {
  width: 32px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 114px;
  border-radius: 50%;
}
.v1_677 {
  width: 32px;
  height: 32px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 171px;
  border-radius: 50%;
}
.v1_678 {
  width: 100px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_680 {
  width: 126px;
  height: 54px;
  background: url("../images/v1_680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5045px;
  left: 120px;
  overflow: hidden;
}
.v1_681 {
  width: 126px;
  height: 54px;
  background: url("../images/v1_681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_682 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 31px;
  opacity: 1;
  text-align: left;
}
.v1_683 {
  width: 43px;
  height: 12px;
  background: url("../images/v1_683.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 56px;
  border: 2px solid rgba(0,0,0,1);
}
.v11_84 {
  width: 195px;
  height: 24px;
  background: url("../images/v11_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5252px;
  left: 1121px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
